<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ панель</title>
    <style>
        nav{
            background: rgba(53, 175, 34, 0.65);
            color: #f3f1f1;
            text-align: center;
            padding: 10px;

        }

        nav a{
            padding-left: 10px;
            color: #f3f1f1;
        }
    </style>
</head>
<body>

<nav>
    <a href="/promo-admin-panel/">Адмни панель</a>
    <a href="/promo-admin-panel/add-prize">Добавить подарок</a>
    <a href="/promo-admin-panel/spisok-prize">Список подарков</a>
</nav>

</body>
</html>