<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инфо</title>

    <style>

        body{
            background-image: url('/img_for_view/bg_user_panel.jpg');
            background-size: cover;
            background-repeat: no-repeat;

        }
        nav{
            background: rgb(116, 131, 52);
            color: #f3f1f1;
            text-align: center;
            padding: 10px;

        }

        nav a{
            padding-left: 10px;
            color: #f3f1f1;
        }
    </style>

</head>
<body>

<nav>
    <a href="/promo-information">Правила акции</a>
    <a href="/">Как участвовать</a>
    <a href="/prize">Призы</a>
    <a href="/promo_cod">Проверить код</a>
</nav>

</body>
</html>