<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый приз</title>
    <style>
        body {
            text-align: center;
        }
        nav{
            background: rgba(53, 175, 34, 0.65);
            color: #f3f1f1;
            text-align: center;
            padding: 10px;

        }

        nav a{
            padding-left: 10px;
            color: #f3f1f1;
        }
    </style>

</head>
<body>
<nav>
    <a href="/promo-admin-panel">Адмни панель</a>
    <a href="/promo-admin-panel/add-prize">Добавить подарок</a>
    <a href="/promo-admin-panel/spisok-prize">Список подарков</a>
</nav>
<form th:action="@{/promo-admin-panel/add-prize}" method="post" enctype="multipart/form-data">
    <labe> Введите название подарка</labe><br>
    <input name="name_prize" type="text"><br><br>

    <labe> Введите коды к подарку</labe><br>
    <textarea name="codes_prize" type="text"></textarea><br><br>

    <labe> Выберите изображение</labe><br><br>
    <input name="image_prize" type="file"><br><br>

    <button type="submit"> добавить </button>

</form>


</body>
</html>